@model Clique.Models.ID

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">

    <title>Student Form | Clique</title>

    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="~/Content/images/icon.ico">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="~/Content/css/id-form.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
</head>

<body>
    @using (Html.BeginForm("IDINPUTSFACULTY", "Clique", FormMethod.Post))
    {
        <div class="form main">
            <div class="left">
                <img src="~/Content/images/clique-finger.png" alt="" srcset="">
            </div>
            <div class="right">
                <span>
                    <i class="fas fa-id-card"></i>
                    @Html.EditorFor(model => model.id, new { htmlAttributes = new { type = "text", @placeholder = "ID Number" } })
                </span>
                <div class="btn-center">
                    <a href="~/Clique/Client" class="submit">BACK</a>
                    <input class="submit" type="submit" value="PROCEED" />
                </div>
            </div>
        </div>
    }
</body>

</html>