<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2"/>
    <httpRuntime targetFramework="4.7.2"/>
    <customErrors mode="Off"/>
    <trust level="Full"/>

	  <authentication mode="Forms">
		  <forms defaultUrl="/Clique/HomePage" loginUrl="/Clique/Index" slidingExpiration="true" timeout="2880"></forms>
	  </authentication>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="CC7B13FFCD2DDD51" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Build" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-15.1.0.0" newVersion="15.1.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Build.Framework" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-15.1.0.0" newVersion="15.1.0.0"/>
			</dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.13.1.0" newVersion="2.13.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ExcelNumberFormat" publicKeyToken="23c6f5d73be07eca" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <!--<add name="QTableEntities" connectionString="metadata=res://*/Models.QTableModel.csdl|res://*/Models.QTableModel.ssdl|res://*/Models.QTableModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-6QE09MH\SQLEXPRESS;initial catalog=CliqueDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="AUFMISSDB" connectionString="metadata=res://*/Models.AUFMISSDBMODEL.csdl|res://*/Models.AUFMISSDBMODEL.ssdl|res://*/Models.AUFMISSDBMODEL.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-6QE09MH\SQLEXPRESS;initial catalog=CliqueDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="AUFMISSMODELDB" connectionString="metadata=res://*/Models.AUFMISSMODEL.csdl|res://*/Models.AUFMISSMODEL.ssdl|res://*/Models.AUFMISSMODEL.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-6QE09MH\SQLEXPRESS;initial catalog=CliqueDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="AccountEntities" connectionString="metadata=res://*/Models.DBAccounts.csdl|res://*/Models.DBAccounts.ssdl|res://*/Models.DBAccounts.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-6QE09MH\SQLEXPRESS;initial catalog=CliqueDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="AccountModelEntities" connectionString="metadata=res://*/Models.dbaccounts.csdl|res://*/Models.dbaccounts.ssdl|res://*/Models.dbaccounts.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-6QE09MH\SQLEXPRESS;initial catalog=CliqueDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="backupdbEntities" connectionString="metadata=res://*/Models.BackupDb.csdl|res://*/Models.BackupDb.ssdl|res://*/Models.BackupDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-6QE09MH\SQLEXPRESS;initial catalog=CliqueDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
	  
      <add name="QTableEntities" connectionString="metadata=res://*/Models.QTableModel.csdl|res://*/Models.QTableModel.ssdl|res://*/Models.QTableModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SG2NWPLS14SQL-v09.shr.prod.sin2.secureserver.net;Integrated Security=False;User ID=clique_admin;Password=I7r*zi15;Connect Timeout=15;Encrypt=False;Packet Size=4096&quot;" providerName="System.Data.EntityClient" />
	  <add name="AUFMISSDB" connectionString="metadata=res://*/Models.AUFMISSDBMODEL.csdl|res://*/Models.AUFMISSDBMODEL.ssdl|res://*/Models.AUFMISSDBMODEL.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SG2NWPLS14SQL-v09.shr.prod.sin2.secureserver.net;Integrated Security=False;User ID=clique_admin;Password=I7r*zi15;Connect Timeout=15;Encrypt=False;Packet Size=4096&quot;" providerName="System.Data.EntityClient" />
	  <add name="AUFMISSMODELDB" connectionString="metadata=res://*/Models.AUFMISSMODEL.csdl|res://*/Models.AUFMISSMODEL.ssdl|res://*/Models.AUFMISSMODEL.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SG2NWPLS14SQL-v09.shr.prod.sin2.secureserver.net;Integrated Security=False;User ID=clique_admin;Password=I7r*zi15;Connect Timeout=15;Encrypt=False;Packet Size=4096&quot;" providerName="System.Data.EntityClient" />
	  <add name="AccountEntities" connectionString="metadata=res://*/Models.DBAccounts.csdl|res://*/Models.DBAccounts.ssdl|res://*/Models.DBAccounts.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SG2NWPLS14SQL-v09.shr.prod.sin2.secureserver.net;Integrated Security=False;User ID=clique_admin;Password=I7r*zi15;Connect Timeout=15;Encrypt=False;Packet Size=4096&quot;" providerName="System.Data.EntityClient" />
	  <add name="AccountModelEntities" connectionString="metadata=res://*/Models.dbaccounts.csdl|res://*/Models.dbaccounts.ssdl|res://*/Models.dbaccounts.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SG2NWPLS14SQL-v09.shr.prod.sin2.secureserver.net;Integrated Security=False;User ID=clique_admin;Password=I7r*zi15;Connect Timeout=15;Encrypt=False;Packet Size=4096&quot;" providerName="System.Data.EntityClient" />
	  <add name="backupdbEntities" connectionString="metadata=res://*/Models.BackupDb.csdl|res://*/Models.BackupDb.ssdl|res://*/Models.BackupDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SG2NWPLS14SQL-v09.shr.prod.sin2.secureserver.net;Integrated Security=False;User ID=clique_admin;Password=I7r*zi15;Connect Timeout=15;Encrypt=False;Packet Size=4096&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>

</configuration>
