<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
	  <customErrors mode="Off"/>
	  <trust level="Full"/>
  </system.web>
	<connectionStrings>
		<add name="QTableEntities" connectionString="metadata=res://*/Models.QTableModel.csdl|res://*/Models.QTableModel.ssdl|res://*/Models.QTableModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;	Data Source=SG2NWPLS14SQL-v09.shr.prod.sin2.secureserver.net:1433;Initial Catalog=ph14048594534_;User Id=clique_admin;Password=I7r*zi15;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	  <add name="AUFMISSDB" connectionString="metadata=res://*/Models.AUFMISSDBMODEL.csdl|res://*/Models.AUFMISSDBMODEL.ssdl|res://*/Models.AUFMISSDBMODEL.msl;provider=System.Data.SqlClient;provider connection string=&quot;	Data Source=SG2NWPLS14SQL-v09.shr.prod.sin2.secureserver.net:1433;Initial Catalog=ph14048594534_;User Id=clique_admin;Password=I7r*zi15;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	  <add name="AUFMISSMODELDB" connectionString="metadata=res://*/Models.AUFMISSMODEL.csdl|res://*/Models.AUFMISSMODEL.ssdl|res://*/Models.AUFMISSMODEL.msl;provider=System.Data.SqlClient;provider connection string=&quot;	Data Source=SG2NWPLS14SQL-v09.shr.prod.sin2.secureserver.net:1433;Initial Catalog=ph14048594534_;User Id=clique_admin;Password=I7r*zi15;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	  <add name="AccountEntities" connectionString="metadata=res://*/Models.DBAccounts.csdl|res://*/Models.DBAccounts.ssdl|res://*/Models.DBAccounts.msl;provider=System.Data.SqlClient;provider connection string=&quot;	Data Source=SG2NWPLS14SQL-v09.shr.prod.sin2.secureserver.net:1433;Initial Catalog=ph14048594534_;User Id=clique_admin;Password=I7r*zi15;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	  <add name="AccountModelEntities" connectionString="metadata=res://*/Models.dbaccounts.csdl|res://*/Models.dbaccounts.ssdl|res://*/Models.dbaccounts.msl;provider=System.Data.SqlClient;provider connection string=&quot;	Data Source=SG2NWPLS14SQL-v09.shr.prod.sin2.secureserver.net:1433;Initial Catalog=ph14048594534_;User Id=clique_admin;Password=I7r*zi15;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	  <add name="backupdbEntities" connectionString="metadata=res://*/Models.BackupDb.csdl|res://*/Models.BackupDb.ssdl|res://*/Models.BackupDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;	Data Source=SG2NWPLS14SQL-v09.shr.prod.sin2.secureserver.net:1433;Initial Catalog=ph14048594534_;User Id=clique_admin;Password=I7r*zi15;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>
