* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background: url('../images/background.png') no-repeat fixed center;
    background-size: cover;
}

img {
    display: block;
}

.max {
    margin: auto;
    padding: 10px;
    width: 100%;
}

.grid {
    padding: 26px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(1000px, 1fr));
    grid-gap: 14.7px;
    color: white;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 1.1em;
}

    .grid img {
        width: 65px;
    }

.card {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto 1fr;
    border: 0px solid white;
    background-color: rgba(250, 250, 250, .25);
    align-items: center;
    overflow: hidden;
    border-radius: 35px;
    height: 100%;
}

    .card .img {
        padding: 59px;
        border-radius: 30px;
        background-color: white;
        height: 100%;
        display: flex;
        align-items: center;
    }

.card2 {
    text-decoration: none;
    color: white;
    letter-spacing: 1.5px;
    text-align: center;
    font-size: 65px;
    width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: white;
}

@media only screen and (max-width: 650px) {
    .grid {
        grid-template-columns: unset;
    }

    .card {
        grid-template-columns: unset;
    }

    .grid img {
        width: 35px;
        margin: auto;
    }

    .card2 {
        font-size: .8em;
        text-align: center;
        padding: 20px 0 !important;
    }
}

@media all and (display-mode: fullscreen) {
    .grid {
        padding: 32px 27px 23px 27px;
    }

    .card .img {
        padding: 86px;
    }
}

button:hover, button:focus {
    outline: none;
}

a.card:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgb(0 0 0 / 50%);
    background-color: rgba(255, 255, 255, 0.27);
}